{%  extends 'User/index.html' %}
{%  block body %}
{#<form action="/add_new_Post" method="post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>Doctor</td>#}
{#        <td>#}
{##}
{#            <select name="select">#}
{#                {% for i in val %}#}
{#                <option value="{{ i.id }}">{{ i.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{##}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Complaint</td>#}
{#      <td><label for="textfield"></label>#}
{#        <input type="text" name="textfield2" id="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><label> </label>#}
{#          <div align="center">#}
{#            <input type="submit" name="Submit" value="Send" />#}
{#        </div></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
    <form action="/add_new_Post" method="post">
  <div class="container mt-3" style="max-width: 700px;">

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Doctor</label>
      <div class="col-sm-10">
        <select name="select" class="form-select" style="width: 100%;">
          {% for i in val %}
            <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="textfield" class="col-sm-2 col-form-label">Complaint</label>
      <div class="col-sm-10">
        <input type="text" name="textfield2" id="textfield" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <input type="submit" name="Submit" value="Send" class="btn btn-primary" />
      </div>
    </div>

  </div>
</form>

{% endblock %}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>
<center>
  <form action="/add_new_Post" method="post">
    <table width="200" border="1">
      <tr>
        <td>Doctor</td>
        <td>
          <select name="select">
            {% for i in val %}
            <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Complaint</td>
        <td><label for="textfield"></label>
          <input type="text" name="textfield2" id="textfield" />
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" name="Submit" value="Send" />
        </td>
      </tr>
    </table>
  </form>
</center>
</body>
</html>-->
