
<body>
<form id="form1" name="form1" method="post" action="/">
  <table width="328" border="1" cellpadding="2">
    <tr>
      <td width="93">Slot</td>
      <td width="117">Date</td>
      <td width="90">Status</td>
    </tr>
    <tr>
      <td><label for="textfield"></label></td>
      <td><label for="label"></label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><label for="Submit"></label>
        <input name="Submit" type="submit" id="Submit" value="OK" /></td>
    </tr>
  </table>
  <label for="Submit"></label>
</form>
{% endblock %}
