<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="forml" name="forml" method="post" action="">
<table width="200" border="1">
     <tr>
    <td><a href="/viewDoctor">view Doctor</a></td>
  </tr>
  <tr>
      <td><a href="/user_view_report">view report</a></td>
  </tr>
  <tr>
    <td><a href="/user_view_com">Complaint</a></td>
  </tr>
     <tr>
    <td><a href="/Prediction">prediction</a></td>
  </tr>
   <tr>
    <td><a href="/logout_view">Logout</a></td>
  </tr>
</table>
</form>
</body>
</html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>User Dashboard</title>
</head>
<body>
    <div align="center" style="width:100%; height:100vh; display:flex; justify-content:center; align-items:center;">
        <form id="forml" name="forml" method="post" action="">
            <table border="1" cellspacing="5" cellpadding="10">
                <tr>
                    <td><a href="/viewDoctor">View Doctor</a></td>
                </tr>
                <tr>
                    <td><a href="/user_view_report">View Report</a></td>
                </tr>
                <tr>
                    <td><a href="/user_view_com">Complaint</a></td>
                </tr>
                <tr>
                    <td><a href="/Prediction">Prediction</a></td>
                </tr>
                <tr>
                    <td><a href="/logout_view">Logout</a></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>-->
